{
  "openapi": "3.0.3",
  "info": {
    "title": "SAP B1 Knowledge Graph API",
    "description": "Read access to the BusinessPartner 360° knowledge graph ingested from SAP B1 Service Layer. The graph stores HEADER-ONLY records of every BP-related entity (Activities, SalesOpportunities, ServiceCalls, Quotations, Orders, DeliveryNotes, CreditNotes, Invoices, IncomingPayments, PurchaseQuotations, PurchaseOrders, GoodsReceipts, PurchaseInvoices, VendorPayments). Each record carries its native Service Layer key (slCollection + slKeyProperty + key) so a follow-up Joule Skill can fetch full detail straight from the Service Layer.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://mygraph.cfapps.us10-001.hana.ondemand.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Liveness check",
        "responses": {
          "200": {
            "description": "Service is up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graph/bp/{cardCode}": {
      "get": {
        "operationId": "getBusinessPartnerGraph",
        "summary": "Get a BusinessPartner's 360° summary (default) or the full related-entity subgraph",
        "description": "By default returns a compact 360° summary: core BusinessPartner fields, one aggregate row per related entity type (count, open count, total sum) and the most recent headers per entity type (number, date, status, title, comments, plus the Service Layer coordinates to fetch full detail). This keeps the response well under the size limits of consumers like SAP Joule Studio Actions, which log the full response and reject oversized payloads. Pass ?summary=false for the full subgraph (every related header node grouped by entity type) -- only use that for direct API/agent consumers without a response-size limit, not for the Joule Action.",
        "parameters": [
          {
            "name": "cardCode",
            "in": "path",
            "required": true,
            "description": "SAP B1 BusinessPartner CardCode",
            "schema": {
              "type": "string"
            },
            "example": "C20000"
          },
          {
            "name": "summary",
            "in": "query",
            "required": false,
            "description": "Set to \"false\" to get the full subgraph (every related header node) instead of the summary. Defaults to true.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BusinessPartner 360° summary (default) or full subgraph (?summary=false)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartnerSummary"
                }
              }
            }
          },
          "404": {
            "description": "No BusinessPartner with this CardCode in the graph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Graph store has not been populated yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BusinessPartnerProperties": {
        "type": "object",
        "properties": {
          "CardCode": {
            "type": "string"
          },
          "CardName": {
            "type": "string",
            "nullable": true
          },
          "CardType": {
            "type": "string",
            "enum": [
              "cCustomer",
              "cSupplier",
              "cLid"
            ]
          },
          "GroupCode": {
            "type": "integer",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Valid": {
            "type": "string",
            "enum": [
              "tYES",
              "tNO"
            ],
            "nullable": true
          },
          "Frozen": {
            "type": "string",
            "enum": [
              "tYES",
              "tNO"
            ],
            "nullable": true
          },
          "Balance": {
            "type": "number",
            "nullable": true
          },
          "CreditLimit": {
            "type": "number",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "HeaderProperties": {
        "type": "object",
        "description": "Normalized header of one BP-related entity. slCollection + slKeyProperty + key are the Service Layer coordinates for fetching full detail (e.g. GET /Orders(42), GET /ServiceCalls(7)). Note the key property differs per entity: DocEntry for documents/payments, ActivityCode for Activities, SequentialNo for SalesOpportunities, ServiceCallID for ServiceCalls.",
        "properties": {
          "entityType": {
            "type": "string",
            "enum": [
              "Activity",
              "SalesOpportunity",
              "ServiceCall",
              "Quotation",
              "Order",
              "DeliveryNote",
              "CreditNote",
              "Invoice",
              "IncomingPayment",
              "PurchaseQuotation",
              "PurchaseOrder",
              "GoodsReceipt",
              "PurchaseInvoice",
              "VendorPayment"
            ]
          },
          "slCollection": {
            "type": "string",
            "description": "Service Layer collection to query for full detail",
            "example": "Orders"
          },
          "slKeyProperty": {
            "type": "string",
            "description": "Native key property name in the Service Layer",
            "example": "DocEntry"
          },
          "key": {
            "type": "integer",
            "description": "Native key value"
          },
          "cardCode": {
            "type": "string",
            "description": "Owning BusinessPartner CardCode"
          },
          "number": {
            "type": "integer",
            "nullable": true,
            "description": "Human-facing number (DocNum where it exists, otherwise the key)"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "OpportunityName, ServiceCall subject, activity details, or CardName for documents"
          },
          "date": {
            "type": "string",
            "nullable": true,
            "description": "Primary date (DocDate / ActivityDate / StartDate / CreationDate)"
          },
          "dueDate": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "Normalized status, e.g. Open, Closed, Cancelled, Paid, Sold, Missed"
          },
          "comments": {
            "type": "string",
            "nullable": true,
            "description": "Free-text comments/remarks/notes, truncated to 500 chars"
          },
          "total": {
            "type": "number",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "BusinessPartnerNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "BP:C20000"
          },
          "type": {
            "type": "string",
            "enum": [
              "BusinessPartner"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/BusinessPartnerProperties"
          }
        },
        "additionalProperties": false
      },
      "HeaderNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "Order:42"
          },
          "type": {
            "type": "string",
            "description": "Entity type (same values as HeaderProperties.entityType)"
          },
          "properties": {
            "$ref": "#/components/schemas/HeaderProperties"
          }
        },
        "additionalProperties": false
      },
      "RelatedEntitySummary": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string",
            "example": "Order"
          },
          "count": {
            "type": "integer"
          },
          "openCount": {
            "type": "integer",
            "description": "How many records are in status Open"
          },
          "totalSum": {
            "type": "number",
            "nullable": true,
            "description": "Sum of totals where the entity carries one; null for payments/activities"
          }
        },
        "additionalProperties": false
      },
      "RecentRelatedHeader": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string",
            "example": "ServiceCall"
          },
          "slCollection": {
            "type": "string",
            "example": "ServiceCalls"
          },
          "slKeyProperty": {
            "type": "string",
            "example": "ServiceCallID"
          },
          "key": {
            "type": "integer"
          },
          "number": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "comments": {
            "type": "string",
            "nullable": true
          },
          "total": {
            "type": "number",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BusinessPartnerSummary": {
        "type": "object",
        "description": "Default response shape for GET /graph/bp/{cardCode} -- compact, safe for size-limited consumers.",
        "properties": {
          "businessPartner": {
            "type": "object"
          }
        }
      }
    }
  }
}